*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    line-height:1.6;
    color:#1f2933;
}

section{
    padding: 80px 10%;
}

h1, h2, h3{
    line-height:1.3;
}

h2{
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
}

p{
    font-size:16px;
    color:#4b5563;
}
.btn{
    display:inline-block;
    padding:14px 32px;
    background:#2563eb;
    color:#ffffff;
    text-decoration:none;
    border-radius:8px;
    font-weight:800;
    transition: background 0.3s ease, transform 0.3s ease;

}
.btn:hover{
    background:#1e40af;
    transform: translateY(-3px);

}

/*HERO SECTION*/
header{
    background:linear-gradient(120deg, #2563eb,#1e40af);
    color:white;
    padding:100px 10%;
    text-align:center;

}

.hero-container {
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:40px;
    flex-wrap:wrap;
}

.hero-text{
    max-width:550px;
}
.hero-text h1{
    font-size:42px;
    margin-bottom:20px;
}
.hero-text p{
    color:#e5e7eb;
    margin-bottom:30px;
    font-size:18px;
}

.hero-image img{
    width:auto;
    max-width:450px;
    border-radius: 12px;
}

/*FEATURES SECTION*/
.features-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:30px;
}

.feature-card{
    background:#f9fafb;
    padding:30px;
    border-radius:12px;
    text-align:center;
    transition:transform 0.3s ease;

}
.feature-card:hover{
    transform: translateY(-10px);
}
.feature-card h3{
    margin-bottom:15px;
    font-size:20px;
}
/*TESTIMONIALS SECTION*/
#testimonials{
    background:#e5e7eb;
}

.testimonials-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(280px,1fr));
    gap:30px;
}
.testimonial-card{
    background:white;
    padding:30px;
    border-radius:12px;
}
.testimonial-card p{
    font-style:italic;
    margin-bottom:15px;
}
.testimonial-card h4{
    font-size:16px;
    color:#111827;
}

/*FOOTER*/
footer{
    background:#111827;
    color:#d1d5db;
    padding:40px 10%;
}
.footer-content{
    display:flex;
    justify-content:space-between;
    text-align:center;
    flex-wrap:wrap;
    gap:20px;
}

.social-links a{
    margin-right:15px;
    color:#d1d5db;
    text-decoration:none;
    font-weight:500;
}

.social-links a:hover{
    color:blue;

}


/*RESPONSIVE DESIGN*/
@media (max-width:768px){
    header{
        text-align:center;

    }
    .hero-container{
        flex-direction:column;
    }
    .hero-image img{
        max-width:100%;
    }
    .hero-text h1{
        font-size:34px;
    }
}