*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: poppins,sans-serif;
    background-color: #f4f6f8;
    color:#333;

}
section{
    padding:60px 10px;
}

h2{
    text-align:center;
    font-size:32px;
    font-weight:bold;
    margin-bottom:40px;
    color:#222;
}

/*NAVBAR*/
nav{
    background:#1e293b;
    padding: 15px 10%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    
}

nav h1{
    color:#fff;
    font-size:22px;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav ul li a{
    color:#fff;
    text-decoration:none;
    font-size:16px;
    transition: color 0.3s;
}

nav ul li a:hover{
    color:#38bdf8;
    text-decoration: underline;
    cursor: pointer;
}

/*ABOUT SECTION*/
#about{
    background-color: #e0f2fe;
    border-radius: 8px;
    text-align: center;
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    
    
}

#about p{
    max-width: 700px;
    margin: auto;
    font-size: 20px;

}
/*SKILLS SECTION*/
#skills{
    background: #e2e8f0;
    border-radius: 8px;
    text-align: center;
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);  
}
#skills  h3{
     background: #e2e8f0;
    border-radius: 8px;
    text-align: center;
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);  
}
.skills-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}

.skill-card{
    background:#ffffff;
    width:200px;
    padding:30px;
    font-weight:bold;
    border-radius:10px;
    text-align:center;
    cursor:pointer;
    position: relative;
    transition: transform 0.5s ease;
}

.skill-card:hover{
    transform: translateY(-10px);
}

.skill-percentage{
    display:none;
    position:absolute;
    inset:0;
    background:rgba(10,21,79,0.5);
    color:#fff;
    font-size:28px;
    font-weight:bold;
    border-radius:10px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.skill-card:hover .skill-percentage{
    display:flex;
}

/*PROJECTS SECTION*/
#projects{
    background: #e0f2fe;
    border-radius: 8px;
    text-align: center;
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.projects-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.project-card{
    background:#f8fafc;
    border-radius:10px;
    overflow:hidden;
}

.project-card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.project-card div{
    padding:15px;
}

img{
    border-radius:8px;
    display:block;
    margin: 0 auto 20px auto;
}
.project-card h4{
    font-weight:bold;
}
.project-card p{
    font-size:18px;
    font-weight:500;
    color:#555;
}

/*CONTACT SECTION*/
#contact{
    background:#1e293b;
    color:#ffffff;
    text-align:center;
    padding:40px;
    border-radius:8px;
    max-width:800px;
    margin:0 auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#contact a{
    
    color:#38bdf8;
    text-decoration:none;
    font-weight:bold;
}   

#contact ul li{
    list-style:none;
}
#contact p{
    margin-bottom:10px;
}
#contact h2{
    color:#ffffff;
}

/*FOOTER SECTION*/
footer{
    text-align:center;
    padding: 15px;
    background:#0f172a;
    color:#ffffff;
    font-size:14px;
}

@media (max-width:600px){
    nav ul{
        display: none;
    }
}
.projects-grid a {
    text-decoration: none;
    color: blue;
    cursor: pointer;

}

